/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --boder-test: red;
  --back-color: #fff;
  --main-text-color: #000;
  --other-text-color: whitesmoke;
  --second-text-color: white;

  --type-normal: #a8a77a;
  --type-fire: #ee8130;
  --type-water: #6390f0;
  --type-electric: #f7d02c;
  --type-grass: #7ac74c;
  --type-ice: #96d9d6;
  --type-fighting: #c22e28;
  --type-poison: #a33ea1;
  --type-ground: #e2bf65;
  --type-flying: #a98ff3;
  --type-psychic: #f95587;
  --type-bug: #a6b91a;
  --type-rock: #b6a136;
  --type-ghost: #735797;
  --type-dragon: #6f35fc;
  --type-dark: #705746;
  --type-steel: #b7b7ce;
  --type-fairy: #d685ad;
}
/* Preparar Sitio */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
  font-family: "Pixelify Sans", sans-serif;
}

body {
  text-align: center;
  min-height: 100vh;
  background: var(--back-color);
}

main {
  display: inline-block;
  padding: 15px;
  position: relative;
}

/* pokedex */

.pokedex {
  background-color: #f93333;
  width: 100%;
  max-width: 500px;
  /* padding-bottom: 50px; */
  border: 1px solid #333;
  border-radius: 16px;
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.pokemon__imagen {
  position: absolute;
  height: 30%;
  bottom: 45%;
  left: 50%;
  transform: translate(-50%, 40%);
}

.pokemon__data {
  position: absolute;
  font-weight: 500;
  color: var(--back-color);
  bottom: 22.5%;
  left: 12.5%;
  font-size: clamp(10px, 6vw, 31px);
}

.pokemon__name {
  color: var(--main-text-color);
  text-transform: capitalize;
}

.form {
  position: relative;
  /* margin-bottom: 2%; */
  /* background-color: var(--boder-test); */
  width: 100%;
}

.search__bar {
  margin: auto;
  margin-bottom: 2%;
  width: 95%;
  padding: 2%;
  border: 2px solid #333;
  border-radius: 13px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(13px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
  outline: none;
}
.input__search {
  display: grid;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  text-align: start;
}

.icon__search {
  bottom: 30%;
  left: 1%;
  position: absolute;
  text-align: start;
  width: 4%;
  margin-bottom: 1px;
}

/* pokedex btns */

.arrow__buttons {
  position: absolute;
  width: 17%;
  left: 11%;
  bottom: 18%;
  border: 2px solid #000;
  /* background-color: var(--boder-test); */
  display: flex;
  justify-content: space-between;
}
.arrow {
  width: 50%;
  color: transparent;
  font-size: clamp(13px, 1vw, 7px);
  background-color: transparent;
  outline: none;
}
.arrow:active {
  box-shadow: inset -1px 1px 0 #222;
  font-size: 0.9rem;
}

.buttons {
  position: relative;
  margin-top: 2%;
  width: 100%;
  /* background-color: var(--boder-test); */
  /* transform: translate(-50%, 0); */
  justify-content: space-evenly;
  display: flex;
  gap: 30px;
}

.button {
  width: 40%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(13px, 5vw, 1rem);
  font-weight: 400;
  color: white;
  background-color: #444;
  box-shadow: -3px 4px 0 #222, -5px 7px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

/* Preparar Lista */
ul {
  list-style-type: none;
}

/* Preparar botones */
/* button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
} */

/* header start */
header {
  padding: 2rem;
  box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, 0.5);
  /* max-width: 1000px;
    margin: 0 auto; */
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  padding-inline: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}
.logo {
  height: 50px;
}
.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}
/* 3D buttons */
.btn-header {
  /* margin: 1rem; */
  background-color: var(--main-text-color);
  border: 2px solid #e5dc15;
  border-radius: 100vmax;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0.6em #c2bb11, 0 0.9em rgba(5, 37, 85, 0.4);
  position: relative;
  top: 0;
  transition: all 300ms ease-in-out;
  color: var(--second-text-color);
}

.btn-header:hover {
  background: #e5dc15;
  color: #0e79b2;
  top: 0.2em;
  box-shadow: 0 0.4em #c2bb11, 0 0.7em rgba(0, 48, 151, 0.4);
}

.btn-header:active {
  top: 0.4em;
  box-shadow: 0 0.2em #c2bb11, 0 0.5em rgba(255, 0, 0, 0.4);
}

/* Search bar */
/* 
.search-wrapper,
.search-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.search-wrap {
  position: relative;
  background-color: var(--grayscale-white);
  border-radius: 16px;
  box-shadow: var(--drop-shadow-inner);
  height: 32px;
  gap: 8px;
}

.search-icon {
  margin-left: 16px;
}

.search-wrap svg path {
  fill: var(--identity-primary);
}

.search-wrap > input {
  width: 60%;
  border: none;
}

.sort-wrapper {
  position: relative;
}

.sort-wrap {
  background-color: var(--grayscale-white);
  border-radius: 100%;
  min-width: 2rem;
  min-height: 2rem;
  box-shadow: var(--drop-shadow-inner);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search-close-icon {
  position: absolute;
  right: 1rem;
  display: none;
  cursor: pointer;
}

.search-close-icon-visible {
  display: block;
}

.filter-wrapper {
  position: absolute;
  background: var(--identity-primary);
  border: 4px solid var(--identity-primary);
  border-top: 0;
  border-radius: 12px;
  padding: 0px 4px 4px 4px;
  right: 0px;
  box-shadow: var(--drop-shadow-hover);
  min-width: 113px;
  top: 40px;
  display: none;
  z-index: 5000;
}

.filter-wrapper-open {
  display: block;
}

.filter-wrapper-overlay .main::before {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.filter-wrapper > .body2-fonts {
  color: var(--grayscale-white);
  font-weight: var(--font-weight-bold);
  padding: 16px 20px;
}

.filter-wrap {
  background-color: var(--grayscale-white);
  box-shadow: var(--drop-shadow-inner);
  padding: 16px 20px;
  border-radius: 8px;
}

.filter-wrap > div {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.filter-wrap > div:last-child {
  margin-bottom: 0px;
}

.filter-wrap input {
  accent-color: var(--identity-primary);
} */

/* header end */

/* main start */

/* main {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
} */

.pokemonList {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.pagination {
  padding-bottom: 10px;
  padding-top: 10px;
  margin: auto;
}

/* responsive */

@media screen and (min-width: 470px) {
  .pokemonList {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 700px) {
  .pokemonList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* pokemon cards */

.loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

.pokemon {
  border-radius: 1rem;
  background-color: var(--back-color);
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
  padding-block: 1rem;
  text-transform: uppercase;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.pokemon-id-back {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%);
  font-size: 6rem;
  font-weight: 800;
  color: var(--other-text-color);
  z-index: -1;
}

.pokemon-image {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}

.pokemon-image img {
  width: 100%;
  max-width: 6rem;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 1rem;
  align-items: center;
  text-align: center;
}

.name-container {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-id {
  background-color: var(--other-text-color);
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
  font-size: 0.75rem;
  font-weight: 500;
}

.pokemon-name {
  font-size: 1.4rem;
}

.pokemon-types {
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  flex-wrap: wrap;
  justify-content: center;
}

.type {
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
  color: var(--back-color);
}

.pokemon-body {
  display: flex;
  gap: 1rem;
  font-size: 0.85rem;
}

.pokemon-body p {
  background-color: var(--other-text-color);
  padding: 0.25rem 0.5rem;
  border-radius: 100vmax;
}

/* main end */

/* Colores de tipos */
.normal {
  background-color: var(--type-normal);
}
.fire {
  background-color: var(--type-fire);
}
.water {
  background-color: var(--type-water);
}
.electric {
  background-color: var(--type-electric);
}
.grass {
  background-color: var(--type-grass);
}
.ice {
  background-color: var(--type-ice);
}
.fighting {
  background-color: var(--type-fighting);
}
.poison {
  background-color: var(--type-poison);
}
.ground {
  background-color: var(--type-ground);
}
.flying {
  background-color: var(--type-flying);
}
.psychic {
  background-color: var(--type-psychic);
}
.bug {
  background-color: var(--type-bug);
}
.rock {
  background-color: var(--type-rock);
}
.ghost {
  background-color: var(--type-ghost);
}
.dragon {
  background-color: var(--type-dragon);
}
.dark {
  background-color: var(--type-dark);
}
.steel {
  background-color: var(--type-steel);
}
.fairy {
  background-color: var(--type-fairy);
}

.pokegen h1 {
  margin: 1rem 0;
}

.cargando {
  border: 10px solid gray dotted;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: carga 1000ms linear infinite;
}
@keyframes carga {
  to {
    transform: rotate(360deg);
  }
}
