/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&family=Roboto+Mono:wght@400;500;600;700&display=swap");

/* Variables */
:root {
  --boder-test: red;
  --back-color: #fff;
  --main-text-color: #000;
  --other-text-color: whitesmoke;
  --second-text-color: white;

  --type-normal: #a8a77a;
  --type-fire: #ee8130;
  --type-water: #6390f0;
  --type-electric: #f7d02c;
  --type-grass: #7ac74c;
  --type-ice: #96d9d6;
  --type-fighting: #c22e28;
  --type-poison: #a33ea1;
  --type-ground: #e2bf65;
  --type-flying: #a98ff3;
  --type-psychic: #f95587;
  --type-bug: #a6b91a;
  --type-rock: #b6a136;
  --type-ghost: #735797;
  --type-dragon: #6f35fc;
  --type-dark: #705746;
  --type-steel: #b7b7ce;
  --type-fairy: #d685ad;
}
/* Preparar Sitio */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
  font-family: "Pixelify Sans", sans-serif;
}

body {
  text-align: center;
  min-height: 100vh;
  background: var(--back-color);
}

main {
  display: inline-block;
  padding: 15px;
  position: relative;
}

/* pokedex */

.pokedex {
  background-color: #f93333;
  width: 100%;
  max-width: 500px;
  /* padding-bottom: 50px; */
  border: 1px solid #333;
  border-radius: 16px;
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.pokemon__imagen {
  position: absolute;
  height: 20%;
  bottom: 45%;
  left: 50%;
  transform: translate(-50%, 20%);
}

.pokemon__data {
  position: absolute;
  font-weight: 500;
  color: var(--back-color);
  bottom: 25.5%;
  left: 12.5%;
  font-size: clamp(10px, 6vw, 31px);
}

.pokemon__name {
  color: var(--main-text-color);
  text-transform: capitalize;
}

.form {
  position: relative;
  /* margin-bottom: 2%; */
  /* background-color: var(--boder-test); */
  width: 100%;
}

.search__bar {
  margin: auto;
  margin-bottom: 2%;
  width: 95%;
  padding: 2%;
  border: 2px solid #333;
  border-radius: 13px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(13px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
  outline: none;
}
.input__search {
  display: grid;
  outline: none;
  border: none;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  text-align: start;
}

.icon__search {
  bottom: 30%;
  left: 1%;
  position: absolute;
  text-align: start;
  width: 4%;
  margin-bottom: 1px;
}

/* pokedex btns */

.arrow__buttons {
  position: absolute;
  height: clamp(2%, 2.9%, 2.9%);
  width: clamp(15%, 16%, 19%);
  left: 12%;
  bottom: 18%;
  /* border: 2px solid #000; */
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}
.arrow {
  border: none;
  width: 50%;
  color: transparent;
  background-color: transparent;
}

.buttons {
  position: relative;
  margin-top: 2%;
  width: 100%;
  /* background-color: var(--boder-test); */
  /* transform: translate(-50%, 0); */
  justify-content: space-evenly;
  display: flex;
  gap: 30px;
}

.button {
  width: 40%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(13px, 5vw, 1rem);
  font-weight: 400;
  color: white;
  background-color: #444;
  box-shadow: -3px 4px 0 #222, -5px 7px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

/* shiny btn */
.shine {
  position: relative;
  width: 2rem;
  height: 2rem;
}

.btn-shiny {
  height: 2.22rem;
  width: 2.22rem;
  position: absolute;
  bottom: 20.95%;
  right: 15.5%;
  border-radius: 50%;
  color: transparent;
}
.btn-shiny:hover {
  color: transparent;
}
.btn-shiny:active::after {
  color: transparent;
}

/* play btn */

.btn-play {
  position: absolute;
  bottom: 15.5%;
  right: 11%;
  border: #000;
  border-radius: 50%;
  font-size: clamp(5px, 6vw, 15px);
  color: transparent;
}
.btn-play:hover {
  color: transparent;
}

/* Preparar Lista */
ul {
  list-style-type: none;
}

/* Preparar botones */
/* button {
  background-color: transparent;
  border: 0;
  border-radius: 0;
} */
